Repository gloaysa/ies-menendez: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint ./tslint.json --fix, prettier --write

.lintstagedrc:

{
  "linters": {
    "src/app/**/*.ts": [ "tslint ./tslint.json --fix", "git add" ],
    "src/app/**/*.{js,ts,html,scss}": [
      "prettier --write",
      "git add"
    ],
    "*.{md,json}": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": [
    "package.json",
    "tsconfig.json"
  ]
}

feat(): rename new_school page and create old-school empty page
  src/app/app.component.html
  src/app/app.module.ts
  src/app/pages/new-school/new-school.component.ts
  src/app/pages/new-school/new-school.module.ts
  src/app/pages/new-school/new-school.page.html
  src/app/pages/new-school/new-school.page.scss
  src/app/pages/new-school/new-school.page.spec.ts
  src/app/pages/new-school/new-school.page.ts
  src/app/pages/old-school/old-school.module.ts
  src/app/pages/old-school/old-school.page.html
  src/app/pages/old-school/old-school.page.scss
  src/app/pages/old-school/old-school.page.spec.ts
  src/app/pages/old-school/old-school.page.ts
  src/assets/images/old_school/coche_rojo.jpeg
  src/assets/images/old_school/fachada_vieja.jpeg
  src/assets/images/old_school/foto_grupo.jpg_large
  src/assets/images/old_school/girl_mood_dancing.jpeg
  src/assets/images/old_school/human_cry.mp3
  tslint.json
Due: tslint ./tslint.json --fix, prettier --write

feat(): create old-school page with content
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/featured/featured.component.html
  src/app/components/featured/featured.component.scss
  src/app/components/featured/featured.component.spec.ts
  src/app/components/featured/featured.component.ts
  src/app/components/featured/featured.module.ts
  src/app/pages/old-school/about-us/about-us.component.html
  src/app/pages/old-school/about-us/about-us.component.scss
  src/app/pages/old-school/about-us/about-us.component.spec.ts
  src/app/pages/old-school/about-us/about-us.component.ts
  src/app/pages/old-school/home/home.component.html
  src/app/pages/old-school/home/home.component.scss
  src/app/pages/old-school/home/home.component.spec.ts
  src/app/pages/old-school/home/home.component.ts
  src/app/pages/old-school/news/news.component.html
  src/app/pages/old-school/news/news.component.scss
  src/app/pages/old-school/news/news.component.spec.ts
  src/app/pages/old-school/news/news.component.ts
  src/app/pages/old-school/news/old-post/old-post.component.html
  src/app/pages/old-school/news/old-post/old-post.component.scss
  src/app/pages/old-school/news/old-post/old-post.component.spec.ts
  src/app/pages/old-school/news/old-post/old-post.component.ts
  src/app/pages/old-school/old-school.module.ts
  src/app/pages/old-school/old-school.page.html
  src/app/pages/old-school/old-school.page.scss
  src/app/pages/old-school/old-school.page.ts
  src/app/pages/old-school/old-school.routing.module.ts
  src/app/pages/old-school/page-item.content.ts
  src/app/pages/old-school/page-item.interface.ts
  src/assets/images/old_school/logo.png
  src/assets/images/old_school/under_construction.gif
Due: tslint ./tslint.json --fix, prettier --write

feat(): create countdown and popup services
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/bloody-text/bloody-text.component.html
  src/app/components/bloody-text/bloody-text.component.scss
  src/app/components/bloody-text/bloody-text.component.spec.ts
  src/app/components/bloody-text/bloody-text.component.ts
  src/app/pages/old-school/news/old-post/old-post.component.ts
  src/app/pages/old-school/old-school.module.ts
  src/app/services/countdown.service.ts
  src/app/services/popup.service.ts
  src/assets/audio/human_cry.mp3
  tsconfig.app.json
Due: tslint ./tslint.json --fix, prettier --write

feat(): add content
  src/app/app.component.scss
  src/app/components/featured/featured.component.scss
  src/app/components/featured/featured.component.ts
  src/app/pages/old-school/news/old-post/old-post.component.html
  src/app/pages/old-school/news/old-post/old-post.component.scss
  src/app/pages/old-school/news/old-post/old-post.component.ts
  src/app/pages/old-school/old-school.page.scss
  src/app/pages/old-school/page-item.content.ts
  src/assets/images/old_school/iesmanualazañaantigua.jpeg
  src/assets/images/old_school/under_construction2.gif
  src/assets/images/old_school/warning-sign-generator.gif
Due: tslint ./tslint.json --fix, prettier --write

feat(): add images to popup.content
  src/app/popup.content.ts
  src/assets/images/old_school/coche_rojo.jpeg
  src/assets/images/old_school/fachada_vieja.jpeg
  src/assets/images/old_school/foto_grupo.jpg_large
  src/assets/images/old_school/girl_mood_dancing.jpeg
  src/assets/images/old_school/popup/RESTRICTED.png
  src/assets/images/old_school/popup/bbc-news.png
  src/assets/images/old_school/popup/breaking-news.png
  src/assets/images/old_school/popup/news.jpeg
  src/assets/images/old_school/popup/notice.jpg
  src/assets/images/old_school/popup/thedailyredcar.jpg
  src/assets/images/old_school/popup/washington-post.jpeg
Due: tslint ./tslint.json --fix, prettier --write

feat(): add absolute path to popup images
  src/app/news/abc/abc.component.html
  src/app/news/abc/abc.component.ts
Due: tslint ./tslint.json --fix, prettier --write

feat(): remove audio human_cry
  src/app/components/bloody-text/bloody-text.component.html
  src/assets/audio/human_cry.mp3
Due: prettier --write

feat(): declare module 'lunicode'
  lunicode.d.ts
  src/app/services/lunicode.service.ts
Due: tslint ./tslint.json --fix, prettier --write

fix(): show featured content again
  src/app/pages/old-school/old-school.page.ts
Due: tslint ./tslint.json --fix, prettier --write

feat(): display old-school-page with default
  src/app/app.component.html
Due: prettier --write

fix(): change image base url
  src/app/news/abc/abc.component.ts
Due: tslint ./tslint.json --fix, prettier --write

chore(): update new-school left-nav content for new course
  src/app/components/left-nav/left-nav.content.ts
  src/app/components/post/post.content.ts
  src/index.html
Due: tslint ./tslint.json --fix, prettier --write

chore(): update favicon.ico
  src/favicon.ico
Due: none

feat(): add shortcut to access old-school
  src/app/app.component.html
  src/app/app.component.ts
  src/app/pages/new-school/new-school.page.html
  src/app/pages/new-school/new-school.page.ts
Due: tslint ./tslint.json --fix, prettier --write
